{% extends 'base.html' %}

{% block title %}Adminni o'chirish - Saylov tizimi{% endblock %}

{% block content %}

<body>
    <h2>Adminni o'chirish</h2>
    
    <p>"{{ user.username }}" adminini o'chirishni tasdiqlaysizmi?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="background-color: #f44336; color: white;" class="btn btn-danger">O'chirish</button>
        <a href="{% url 'admin_list' %}" style="text-decoration: none">Bekor qilish</a>
    </form>
</body>

{% endblock %}